<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app" >
    <div style="align-items: center; font-weight: bold;padding-bottom: 2%;">
        My First Vue App    
    </div>
    <div style="padding-bottom: 1%;">
        <input type="text" v-model="message"/>
    </div>
    <div style="padding-bottom: 1%;">
        <li v-for="name in names">{{name}}</li>
    </div>
    <div>
        <button v-on:click="Add"  >Add Players Names</button>
    </div> 
  </div>
  <script>
      new Vue({
          el:'#app',
          data: {
                 message:'',
                 names:['sachin','dravid','ganguly']
             },
          methods:{
              Add(){
                  this.names.push(this.message);
                  this.message='';
              }
          }   
      })
  </script>
</body>
</html>
